In [1]:
import pandas as pd
df= pd.read_csv('test1.csv')
df.drop(['Unnamed: 0'],axis=1)
from sklearn.feature_extraction.text import TfidfVectorizer
from nltk.tokenize import word_tokenize
import nltk
nltk.download('punkt')
import pandas as pd
df['amneties'].fillna('', inplace=True)
def custom_tokenizer(text):
    tokens = word_tokenize(text)
    return tokens
vectorizer = TfidfVectorizer(tokenizer=custom_tokenizer)
amenities_tfidf = vectorizer.fit_transform(df['amneties'])
amenities_df = pd.DataFrame(amenities_tfidf.toarray(), columns=vectorizer.get_feature_names())
df_processed = pd.concat([df, amenities_df], axis=1)
df_processed = df_processed.drop(columns=['Unnamed: 0','amneties'],axis=1)
df_processed.to_csv('preprocessed.csv')
df=pd.read_csv('preprocessed.csv')
df.drop(['Unnamed: 0'],axis=1)

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Hashif\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
C:\Users\Hashif\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,price,distance,ratings,ac,area,attached,backup,bathroom,bed,breakfast,...,queen,reception,restaurant,seating,sized,speed,tv,wardrobe,washroom,wifi
0,1199.000000,5.1,4.60000,0.128555,0.417493,0.0,0.168691,0.0,0.000000,0.000000,...,0.000000,0.0,0.0,0.417493,0.000000,0.0,0.129835,0.0,0.0,0.160229
1,799.000000,5.0,4.00000,0.157117,0.000000,0.0,0.206171,0.0,0.469837,0.000000,...,0.544623,0.0,0.0,0.000000,0.469837,0.0,0.158681,0.0,0.0,0.195829
2,747.000000,4.0,3.36129,0.255487,0.000000,0.0,0.335252,0.0,0.000000,0.000000,...,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.258030,0.0,0.0,0.318435
3,576.000000,8.8,3.10000,0.249882,0.000000,0.0,0.327898,0.0,0.000000,0.000000,...,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.252369,0.0,0.0,0.000000
4,699.000000,1.7,2.30000,0.255487,0.000000,0.0,0.335252,0.0,0.000000,0.000000,...,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.258030,0.0,0.0,0.318435
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1153.977778,5.1,4.70000,0.307017,0.000000,0.0,0.402870,0.0,0.000000,0.000000,...,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.310073,0.0,0.0,0.382662
96,1153.977778,8.2,4.10000,0.221461,0.000000,0.0,0.000000,0.0,0.000000,0.000000,...,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.223666,0.0,0.0,0.276026
97,1153.977778,5.7,4.30000,0.107249,0.000000,0.0,0.140733,0.0,0.000000,0.517525,...,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.108316,0.0,0.0,0.133674
98,1153.977778,1.6,2.00000,0.307017,0.000000,0.0,0.402870,0.0,0.000000,0.000000,...,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.310073,0.0,0.0,0.382662
99,1153.977778,3.1,3.40000,0.255487,0.000000,0.0,0.335252,0.0,0.000000,0.000000,...,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.258030,0.0,0.0,0.318435

In [3]:
import pandas as pd
df= pd.read_csv('test.csv')
df.drop(['Unnamed: 0'],axis=1)
from sklearn.feature_extraction.text import TfidfVectorizer
from nltk.tokenize import word_tokenize
import nltk
nltk.download('punkt')
import pandas as pd
df['amenities'].fillna('', inplace=True)
def custom_tokenizer(text):
    tokens = word_tokenize(text)
    return tokens
vectorizer = TfidfVectorizer(tokenizer=custom_tokenizer)
amenities_tfidf = vectorizer.fit_transform(df['amenities'])
amenities_df = pd.DataFrame(amenities_tfidf.toarray(), columns=vectorizer.get_feature_names())
df_processed = pd.concat([df, amenities_df], axis=1)
df_processed = df_processed.drop(columns=['Unnamed: 0','amenities'],axis=1)
df_processed.to_csv('preprocessed.csv')
df=pd.read_csv('preprocessed.csv')
df.drop(['Unnamed: 0'],axis=1)

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Hashif\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
C:\Users\Hashif\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,price,location,distance,ratings,type,(,),2,24-hour,air,...,site,spa,superb,swimming,tea/coffee,temporarily,terrace,very,wellness,wifi
0,900,"Pashim Vihar, New Delhi",NaN,8.5,Deluxe Double Room (2 Adults + 1 Child),0.0,0.0,0.0,0.208228,0.273701,...,0.0,0.000000,0.0,0.0,0.000000,0.0,0.349110,0.000000,0.000000,0.212439
1,4125,"Paharganj, New Delhi",NaN,8.3,Superior Double or Twin Room,0.0,0.0,0.0,0.000000,0.000000,...,0.0,0.000000,0.0,0.0,0.219226,0.0,0.000000,0.327683,0.000000,0.118202
2,1259,"South West, New Delhi",NaN,8.4,Superior Double or Twin Room,0.0,0.0,0.0,0.132894,0.000000,...,0.0,0.000000,0.0,0.0,0.251459,0.0,0.222807,0.375863,0.000000,0.135582
3,920,"South West, New Delhi",NaN,7.8,Deluxe Double Room,0.0,0.0,0.0,0.000000,0.000000,...,0.0,0.280643,0.0,0.0,0.203157,0.0,0.000000,0.000000,0.280643,0.109538
4,2000,"Paharganj, New Delhi",NaN,8.0,Superior Double/Twin,0.0,0.0,0.0,0.000000,0.000000,...,0.0,0.290167,0.0,0.0,0.210052,0.0,0.000000,0.000000,0.290167,0.113256
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
730,489,"South West, New Delhi",NaN,1.0,Classic Triple Room,0.0,0.0,0.0,0.304978,0.000000,...,0.0,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
731,929,"Dwarka, New Delhi",NaN,4.6,Classic Triple Room,0.0,0.0,0.0,0.000000,0.000000,...,0.0,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.742523
732,970,New Delhi,NaN,1.0,Classic Triple Room,0.0,0.0,0.0,0.000000,0.441167,...,0.0,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
733,487,New Delhi,NaN,2.3,Classic Triple Room,0.0,0.0,0.0,0.344590,0.000000,...,0.0,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
734,437,"Rohini, New Delhi",NaN,4.0,Classic Triple Room,0.0,0.0,0.0,0.000000,0.396718,...,0.0,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000